.container{
    background-color: bisque;
    width:900px;
    height: 700px;
    

    margin: 50px;
    

}
#col1{
  background-color: brown;
  height: 50px;
  margin-left: 15px;
  margin-top: 20px

}
#col2{
    margin-left: 15px;
    margin-top: 20px;
    width:350px;
    height:250px;
}

#random_no{
    margin-left: 15px;
    margin-right: 5px;
    margin-top: 20px;

    height: 80px;
    background-color: green;

    
}
#yourscore{
    margin-left: 15px;
    height: 30px;
    text-align: center;
    color: rgb(23, 94, 161);
    
    
    

}
#win_loss{
    margin-left: 35px;
    margin-top: 20px;
    height: 80px;
    
    background-color:red;
    
}

#colcrystals1{

    
    
    margin-right: 5px;
    margin-top: 20px;
    height: 70px;
}
#colcrystals2{

    
    margin-left: 20px;
    
    margin-top: 20px;
    height: 70px;
}
#colcrystals3{

    
    margin-left: 26px;
    
    margin-top: 20px;
    height: 70px;
}
#colcrystals4{

    
    margin-left: 28px;
    
    margin-top: 20px;
    height: 70px;
}
#yourscore{
    background-color: rgb(4, 66, 68);
    margin-top: 20px;
    color: white;
}
#result{
    margin-top: 20px;
    background-color: rgb(5, 77, 53);
    height: 60px;
    margin-left: 15px;
    color: white;
}